In [14]:
# read garne file lai 
with open ("sample_users.csv","r") as f: #csv =>comma seperated value
    print(f.read())

"('Name', 'Address', 'Age')","('Puja', 'ktm', 22)","('ram', 'ktm', 22)","('Sita', 'pkh', 20)","('Kabi', 'india', 19)"

In [18]:
import csv 
with open("sample_users.csv","r") as f :
    data=csv.reader(f)
    for i in data :
        print(i[0],i[3]) # first name oth index ma cha ra address 3rd index ma cha so, first name 
        # ra address jhikna ko lagi i[0] and i[3] gareko ho index bata acees grana ko lagi

('Name', 'Address', 'Age') ('Puja', 'ktm', 22)

IndexError: list index out of range

In [29]:
# dictionary bata access grna ko lagi 
import csv
with open("sample_users.csv","r")  as f:
    data=csv.DictReader(f)
    for i in data :
        print(i['first_name'],i['address'])

In [9]:
#index baTA access garna ko i[0],i[1] but dictionary bata grna ko lagi i['first_name'] yesto grane
#dictionary bata access  gareko better
#json,csv(very imp)

In [30]:
import csv 
student=('Puja','ktm',22)

with open("sample_users.csv","w") as f:
    writer=csv.writer(f)
    writer.writerow(student)

In [31]:
import csv 
students=[('Name','Address','Age'),
          ('Puja','ktm',22),
         ('ram','ktm',22),
         ('Sita', 'pkh',20),
         ('Kabi','india',19)]


with open("sample_users.csv","w") as f:
    writer=csv.writer(f)
    writer.writerow(students)#bulk write / multiple write once

In [32]:
import csv
student ={'name':"Ram", "address":"ktm","age":22}

with open("person.csv","w") as f:
    writer=csv.DictWriter(f,fieldnames=student.keys())
    writer.writeheader()
    writer.writerow(student)

In [33]:
import csv
students=[
{'name':'puja', 'address':'ktm', 'Age':22},
{'name':"mamata", 'address':'mnr', 'Age':20},
{'name':'Kabi', 'address':'pkh', 'Age':20},
]
with open("students.csv","w") as f:
    writer =csv.DictWriter(f,fieldnames=students[0].keys())
    writer.writeheader()
    for student in students:
        writer.writerow(student) # single write once

In [34]:
import csv
students=[
{'name':'puja', 'address':'ktm', 'Age':22},
{'name':"mamata", 'address':'mnr', 'Age':20},
{'name':'Kabi', 'address':'pkh', 'Age':20},
]
with open("students.csv","w",newline='',encoding='utf-8') as f: # for removing extra row which is seen in excel
    writer =csv.DictWriter(f,fieldnames=students[0].keys())
    writer.writeheader()
    writer.writerows(students) # bulk/multiple write once

In [35]:
ls=[1,2,3,4,5,6]
square=[]
for s in ls:
    square.append(s**2)
print(square)

[1, 4, 9, 16, 25, 36]

In [36]:
ls=[1,2,3,4,5,6]
#pythonic code
squares=[i ** 2 for i in ls]# list compression
print(squares)

[1, 4, 9, 16, 25, 36]

In [37]:
age=17
if age< 18:
    print("Unauthorized")
else :
    print("authorized")

Unauthorized

In [38]:
age =17
#ternary operator
is_authorized="Unauthorized" if age< 18 else "authorized"
print(is_authorized)

Unauthorized

In [39]:
#pythonic way
num=[1,23,4,3,4,2,2]
ni=["even" if i % 2==0 else "odd" for i in  num]
print(ni)

['odd', 'odd', 'even', 'odd', 'even', 'even', 'even']

In [40]:
#nonpythonic way
num=[1,23,4,3,4,2,2]
output=[]
for i in num:
     if i %2 ==0 :
         output.append("even")
     else :
         output.append("odd")
print(output)

['odd', 'odd', 'even', 'odd', 'even', 'even', 'even']

In [41]:
numbers=[-8,-7,3,-1,0,1,3,4,5,-7,6,8,10]
#output=[3, 0, 1, 3, 4, 5, 6, 8, 10]
s=[]
#non-pytonic way
for i in numbers :
    if i >=0 :
        s.append(i)
print(s)

[3, 0, 1, 3, 4, 5, 6, 8, 10]

In [42]:
numbers=[-8,-7,3,-1,0,1,3,4,5,-7,6,8,10]
#output=[3, 0, 1, 3, 4, 5, 6, 8, 10]
# pythonic way
s=[ i   for i in numbers if i >0]
print(s)

[3, 1, 3, 4, 5, 6, 8, 10]

In [43]:
us_price ={'milk':2.05,'bread':2.6,'butter':2.6}
nep_ruppe={}
for product,price in us_price.items():
    nep_ruppe.update({product:price*131.07})
print(nep_ruppe)

{'milk': 268.6935, 'bread': 340.782, 'butter': 340.782}

In [44]:
us_price ={'milk':2.05,'bread':2.6,'butter':2.6}
#pythonic way 

nep_ruppe={
    product:price*131.07

for product,price in us_price.items() }
print(nep_ruppe)

{'milk': 268.6935, 'bread': 340.782, 'butter': 340.782}