In [1]:
x=[1,2,3,4,5]
print(x[0],x[1],x[2],x[3],x[4])

1 2 3 4 5

In [2]:
x=[1,2,3,4,5]
for i in x :
    print(i)

1
2
3
4
5

In [6]:
x=[1,2,3,4,5]
sum=0
for i in x :
    sum=sum +i
print(" sum :" ,sum)

 sum : 15

In [7]:
x=[1,2,3,4,5]
mul=1
for i in x :
    mul=mul*i
print(mul)

120

In [16]:
x=[1,2,3,4,5]
sq=[]
for i in x :
    sq.append(i** 2)
print(sq)

[1, 4, 9, 16, 25]

In [17]:
x=[1,2,3,4,5]
sq=[]
for i in x :
    if ( i % 2==0) :
        sq.append("even")
    else :
        sq.append("odd")
        
    
print(sq)

['odd', 'even', 'odd', 'even', 'odd']

In [19]:
name ='Puja bist '
# to coount the number of vowels =>aeiou//AEIOU
count=0
for i in name :
    if i in  'aeiouAEIOU' :
        count +=1
print(count)

3

In [20]:
students = ['Alan', 'Bil', 'Ramesh', 'Corry', 'Ram', 'Shyam Bahadur', 'Gita']

output ={}
for i in range (0, len(students)):
    output.update({students [i]: i})

print(output)

{'Alan': 0, 'Bil': 1, 'Ramesh': 2, 'Corry': 3, 'Ram': 4, 'Shyam Bahadur': 5, 'Gita': 6}

In [21]:
# convert US price to Nepali price

us_price = {
    'milk': 2.03,
    'break': 2.6,
    'iphone': 999,
    'butter': 3.6,
    'meat': 5,
    'mobile': 500,
    'laptop': 1000,
    'television': 340
}

nep_price = {}


for k, v in us_price.items():
    nep_price.update({k: v * 137.3})

print(nep_price)

{'milk': 278.719, 'break': 356.98, 'iphone': 137162.7, 'butter': 494.28000000000003, 'meat': 686.5, 'mobile': 68650.0, 'laptop': 137300.0, 'television': 46682.00000000001}

In [23]:
# convert US price to Nepali price with 13 percent tax
us_price = {
    'milk': 2.03,
    'break': 2.6,
    'iphone': 999,
    'butter': 3.6,
    'meat': 5,
    'mobile': 500,
    'laptop': 1000,
    'television': 340
}
nep_price={}
for k,v in us_price.items():
    nep_price.update({k : v*137.3*1.13})
print(nep_price)

{'milk': 314.95246999999995, 'break': 403.38739999999996, 'iphone': 154993.851, 'butter': 558.5364, 'meat': 775.7449999999999, 'mobile': 77574.49999999999, 'laptop': 155148.99999999997, 'television': 52750.66}

In [26]:
# convert US price to Nepali price

us_price = {
    'milk': 2.03,
    'break': 2.6,
    'iphone': 999,
    'butter': 3.6,
    'meat': 5,
    'mobile': 500,
    'laptop': 1000,
    'television': 340
}

nep_price = {}
for k,v in us_price.items():
    if v >5 :
        nep_price.update({k:v *137.3 *1.20})
    else :
          nep_price.update({k:v *137.3 *1.13})
print(nep_price)

{'milk': 314.95246999999995, 'break': 403.38739999999996, 'iphone': 164595.24000000002, 'butter': 558.5364, 'meat': 775.7449999999999, 'mobile': 82380.0, 'laptop': 164760.0, 'television': 56018.40000000001}

In [27]:
#pass, continue,break

In [28]:
age =17
if age <18 :

_IncompleteInputError: incomplete input (2291898922.py, line 2)

In [29]:
age =17
if age <18 :
    pass

In [33]:
age=17
if age <18 :
    pass
print("hello")

hello

In [36]:
numbers=[1,2,3,4,5,6,10]
sum=0
for i in numbers :
    if i==10 :
        pass
    else :
        sum +=i
print(sum)

21

In [39]:
numbers=[1,2,3,4,5,6,10]
sum=0
for i in numbers :
    if i==2 :
        pass
    sum +=i
print(sum)

31

In [40]:
numbers = [1,2,3,4,5,6,10]
sum = 0

for i in numbers:
    if i == 6:
        continue
        # skip the currently iterated item
        # does not run anything after continue
        # and jumps to next item
        
    sum += i
        
print(sum)

25

In [41]:
numbers = [1,2,3,4,5,6,10]
sum = 0

for i in numbers:
    if i == 3:
        break # terminate from loop
    sum += i
        
print(sum)

3

In [42]:
names = ['Ram', 'Shyam', 'Gita', 'Sita']
foods = ['momo', 'chawmein', 'thukpa']
for name in names :
    for food in foods :
        print(f"{name} eats {food}")

Ram eats momo
Ram eats chawmein
Ram eats thukpa
Shyam eats momo
Shyam eats chawmein
Shyam eats thukpa
Gita eats momo
Gita eats chawmein
Gita eats thukpa
Sita eats momo
Sita eats chawmein
Sita eats thukpa