In [1]:
names=['ram', 'shyam', 'gita', 'sita']
i=0 # intializer
while i < len(names) : #condition 
     print(names[i])
     i+=1 #incrementer/decrementer

ram
shyam
gita
sita

In [2]:
numbers=[1,2,3,4] #using for loop
sum=0
for i in numbers :
    sum+=i
print(sum)

10

In [3]:
#while  loop 
numbers=[1,2,3,4]
i=0
sum=0
while i< len(numbers): # 4<4
    sum+=numbers[i] #0+1+2+3+4
    i +=1
print(sum)

10

In [4]:
#for 
# => finite iteratiion
# => if you know how many times you are iterating

#while
# => infinite iteration
# => if you dont know how many times you are iterating (kati patak loop chalan

# generate infinite numbers ,strating from 1
i=1
while True:
    print(i)
    i+=1
# if we want

In [2]:
age=int(input("enter the age"))
while age < 18 :
        age=int(input("enter the age"))
print("welcome")

enter the age 10
enter the age 23

welcome

In [2]:
 def  addition(): # function banako ho => function defintion
     x=1
     y=2
     sum=x+y
     print(sum)

In [3]:
addition() # function call /run/execute

3

In [4]:
addition() # function call# function call

3

In [5]:
 def  addition( x,y): # function banako ho => function defintion
     # x and y are called argument
     sum=x+y
     print(sum)

In [6]:
addition()

TypeError: addition() missing 2 required positional arguments: 'x' and 'y'

In [8]:
addition(x=2,y=4)# function call

6

In [10]:
 addition(2,4) # function call

6

In [11]:
 addition(y=2,x=94) # function call

96

In [12]:
addition(x=2,4) # x=2 => keyword argument , 4=> positonal argument
# agdi keyword argument vayo vaney chai paxadi postional argument rakhna mildaena

SyntaxError: positional argument follows keyword argument (1448314475.py, line 1)

In [13]:
addition(2,y=9)

11

In [27]:
 def  addition(x,y=0): # function banako ho => function defintion
     sum=x+y
     return sum

In [28]:
s=addition(4,5)

In [29]:
print(s ** 2)

81

In [31]:
s=addition(2) # y value na dida by default mathi defined gareko vlaue linch
print(s)

2

In [38]:
def calculator(x,y) :
    add=x+y
    sub=x-y
    mul=x*y
    div=x/y
    return add # exit from here
    return sub
    return mul
    return div

In [39]:
result = calculator(4,5)
print(result)

9

In [42]:
def calculator(x,y) :
    add=x+y
    sub=x-y
    mul=x*y
    div=x/y
    return add,sub,mul,div # sabai print vaye coma garer lekhney

In [43]:
result = calculator(5,5)
print(result)

(10, 0, 25, 1.0)

In [59]:
def addition(*args) : # jatti ota argument 
    print(args,type(args))

In [60]:
s=()
s=addition(2,4,4)
print(s)

(2, 4, 4) <class 'tuple'>
None

In [3]:
# loop layera sum garney
def addition(*args) :# any number of positional arguments 
#jati ota pani variables haru define garna milch if we use *args
    sum=0
    for i in args :
        sum +=i
    return sum

In [5]:
addition(1,2,3,4,5,6,7,8,9,10)

55

In [7]:
addition(x=1, y=2) 
#error aaunch because yesle positional arguments support garchaa
# x=2 yesto vaneko keyword argument ho

TypeError: addition() got an unexpected keyword argument 'x'

In [65]:
def addition(**kwargs): #support any number of keyword arguments
    print(kwargs,type(kwargs))

In [66]:
addition(x=1,y=2)

{'x': 1, 'y': 2} <class 'dict'>

In [9]:
def addition(**kwargs) : # keyword argument support garxh double star le
    sum=0
    for i in kwargs.values() : 
        sum +=i
    return sum

In [14]:
addition(x=1,y=2,z=5,c=98)

106

In [15]:
def addition (*args, **kwargs): # any numbers of positional argument +keyword arguments
    sum=0
    for i in args :
        sum += i
    for i in kwargs.values():
         sum += i
    return sum

In [17]:
addition (2,8,4,5,a=2,b=3)

24

In [83]:
def hello() :
    xyz=8 # function level => local scope
    print(xyz) # Local scope ma basch value
hello()

8

In [19]:
print(xyz) # function vitra defined gareko variable  function bahira access garana meldena

NameError: name 'xyz' is not defined

In [85]:
#module level /file level => global scope
name='Shyam'
print(name)

Shyam

In [86]:
def hi():
    print(name) # first name ko value local scope ma khojch vetnan vney global scope ma khojch
hi()

Shyam

In [87]:
max([1,2,3]) #built -in scope

3

In [88]:
len([1,2,3])

3

In [90]:
def hi():
    print(aged) # first loacal scope ma search  then global then built -in scope
hi()

NameError: name 'aged' is not defined

In [92]:
 # built -in scope => anywhere in python file =>print ,min,max, sorted ,sum
# global scope =>created variable within the python file /module
# local scope => inside function