In [2]:
#Iterate 0 to 10 using for loop, do the same using while loop.
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
#Iterate 0 to 10 using  while loop.
i=0
while i < 10 :
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [5]:
#Iterate 10 to 0 using for loop, do the same using while loop.
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [10]:
i=10
while i >= 0 :
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1
0

In [13]:
#Write a loop that makes seven calls to print(), so we get on the output the following triangle:
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
for i in range(7):
    for j in range(7):
        print('#' , end = " ")
    print()

# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #

In [32]:
#Use nested loops to create the following:
      #
     ###
    #####
   #######
  #########
 ###########
#############
rows = 7
for i in range(rows):
    spaces = ' ' * (rows - i - 1)
    hashes = '#' * (2 * i + 1)
    print(spaces + hashes)

      #
     ###
    #####
   #######
  #########
 ###########
#############

In [39]:
#Print the following pattern using loops
 #  0 x 0 = 0
  # 1 x 1 = 1
   #2 x 2 = 4
   #3 x 3 = 9
  # 4 x 4 = 16
  # 5 x 5 = 25
  # 6 x 6 = 36
  # 7 x 7 = 49
  # 8 x 8 = 64
  # 9 x 9 = 81
  # 10 x 10 = 100
for i in range(0,11):
    c=i * i
    print(i,' * ',i,"=", c)

0  *  0 = 0
1  *  1 = 1
2  *  2 = 4
3  *  3 = 9
4  *  4 = 16
5  *  5 = 25
6  *  6 = 36
7  *  7 = 49
8  *  8 = 64
9  *  9 = 81
10  *  10 = 100

In [40]:
#Iterate through the list, ['Python', 'Numpy','Pandas','Scikit', 'Pytorch'] using a for loop and print out the items.
lst=['Python', 'Numpy','Pandas','Scikit', 'Pytorch']
for i in lst:
    print(i)

Python
Numpy
Pandas
Scikit
Pytorch

In [42]:
#Use for loop to iterate from 0 to 100 and print only even numbers
for i in range(0,101):
    if i % 2==0:
        print(i, end ="  ")

0  2  4  6  8  10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72  74  76  78  80  82  84  86  88  90  92  94  96  98  100

In [45]:
#Use for loop to iterate from 0 to 100 and print only odd numbers
for i in range(1,101,2):
   
    print(i, end = "  ")

1  3  5  7  9  11  13  15  17  19  21  23  25  27  29  31  33  35  37  39  41  43  45  47  49  51  53  55  57  59  61  63  65  67  69  71  73  75  77  79  81  83  85  87  89  91  93  95  97  99

In [46]:
#Use for loop to iterate from 0 to 100 and print the sum of all numbers.
 #  The sum of all numbers is 5050.
sum=0
for i in range(0,101):
    sum+=i
print(sum)

5050

In [53]:
#Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
    #The sum of all evens is 2550. And the sum of all odds is 2500.
sum_even=0
sum_odd=0
for i in range(0,101):
    if i % 2==0 :
        sum_even+=i
   
    else :
        sum_odd+=i
print(sum_even)
print(sum_odd)

2550
2500

In [71]:
#This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.
fruit_list=['banana', 'orange', 'mango', 'lemon']
for i in range(len(fruit_list)-1,-1,-1):
    print(fruit_list[i])
# another way 
#->for i in reversed(fruit_list):
   #-> print(i)

lemon
mango
orange
banana

In [12]:
with open("C:/Users/Admin/Desktop/april_21_python/countries.py") as f:
    exec(f.read())

for country in countries:
    if 'land' in country:
        print(country)

Finland
Iceland
Switzerland
Thailand
Poland
Netherlands
Ireland