In [2]:
#Write a function called add_all_nums which takes arbitrary number of arguments and sums all the arguments.
#Check if all the list items are number types. If not do give a reasonable feedback
def add_all_nums(*args):
    total=0
    for  i , value  in enumerate(args):
        if not isinstance (value ,(int,float)):
            return f"Error: Argument at position {i} ('{value}') is not a number."
        total += value
    return total

In [3]:
 add_all_nums(2,3,5,6,7,8,9)

40

In [18]:
add_all_nums(3,'s',4,5,6,7,8,9,10)

"Error: Argument at position 1 ('s') is not a number."

In [27]:
#Temperature in °C can be converted to °F using this formula: °F = (°C x 9/5) + 32. 
#Write a function which converts °C to °F, convert_celsius_2_fahrenheit.
def convert_celsius_2_fahrenheit( C):
    F = (C * 9/5) + 32
    return   F

convert_celsius_2_fahrenheit(38)

100.4

In [33]:
#Write a function called check_season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.
s=['march', 'april', 'may']
sum=['june','july','august']
aut=['September','October','November']

def check_season(month):
    if month  in s:
        return 'Spring'
    elif month in sum  :
        return 'Summer'
    elif month in aut:
        return 'Autumn'
    else:
        return 'Winter'
        
print(check_season('jan'))

Winter

In [34]:
# Write a function called calculate_slope which return the slope of a linear equation
def calculate_slope(x1,x2,y1,y2):
    if x1==x2 :
        return "Undefined (vertical line)"
    else :
        y=(y2-y1)/(x2-x1)
        return y
print(calculate_slope(1,2,3,4))

1.0

In [50]:
# Quadratic equation is calculated as follows: ax² + bx + c = 0.
#Write a function which calculates solution set of a quadratic equation, solve_quadratic_eqn.
import cmath 

def quadratic_eqn(a,b,c):
    
    D=cmath.sqrt(b**2-4*a*c)
    x1 = (-b + D) / (2*a)
    x2 = (-b - D) / (2*a)
    if x1.imag == 0:
        x1 = x1.real
    if x2.imag == 0:
        x2 = x2.real

    
    return x1, x2

print(quadratic_eqn(1,-3,2))

print(quadratic_eqn(1,2,5))
x=2+3j
print(x.real)
print(x.imag)

(2.0, 1.0)
((-1+2j), (-1-2j))
2.0
3.0

In [2]:
#Declare a function named print_list. 
#It takes a list as a parameter and it prints out each element of the list.
lit=[1,2,3,4,5,6,7,8,9,10]
def print_list(lit):
    for i in lit :
        print(i)
print_list(lit)

1
2
3
4
5
6
7
8
9
10

In [17]:
#Declare a function named reverse_list. It takes an array as a parameter and 
#it returns the reverse of the array (use loops)

def reverse_list(a):
    for i in range(len(a)-1,-1,-1):
        print(a[i] ,end=" ")

reverse_list(["A","B","C","D","E"])
reverse_list([1,2,3,4,5])

E D C B A 5 4 3 2 1

In [30]:
#Declare a function named capitalize_list_items. 
#It takes a list as a parameter and it returns a capitalized list of items
capitalize_list=[]
def capitalize_list_items(a):
    for item in a:
        capitalize_list.append(item.capitalize())

    return capitalize_list
    
print(capitalize_list_items(['ball','apple']))

['Ball', 'Apple']

In [42]:
#Declare a function named add_item. It takes a list and an item parameters.
#It returns a list with the item added at the end.
s=['a','g','h',1,2,3,5,6,7,8,9,10]

def add_item(s,a):

     s.append(a)
     return s
add_item(s,3)

['a', 'g', 'h', 1, 2, 3, 5, 6, 7, 8, 9, 10, 3]

In [53]:
#Declare a function named remove_item. It takes a list and an item parameters.
#It returns a list with the item removed from it.
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'] 
def remove_item(food_staff,item):
  
    food_staff.remove(item)
    return food_staff
    
print(remove_item(food_staff, 'Mango'))

['Potato', 'Tomato', 'Milk']

In [60]:
#Declare a function named sum_of_numbers. 
#It takes a number parameter and it adds all the numbers in that range.
def sum_of_numbers(a):
    sum=0
    for i in range(a,0,-1) :
        sum=sum+i
    return sum
print(sum_of_numbers(5))
print(sum_of_numbers(100))

15
5050

In [57]:
for i in range (6):
    print(i)
len('apple')

0
1
2
3
4
5

5

In [71]:
#DDeclare a function named sum_of_odds. 
#It takes a number parameter and it adds all the odd numbers in that range.

def sum_of_odds(a):
    sum=0
    for i in range(a,0,-1):
       
        if i % 2==1:
            sum=sum+i
    return sum
print(sum_of_odds(10))

25

In [74]:
#DDeclare a function named sum_of_odds. 
#It takes a number parameter and it adds all the odd numbers in that range.
def sum_of_evens(a):
    sum=0
    for i in range(a,0,-1):
       
        if i % 2==0:
            sum=sum+i
    return sum
print(sum_of_evens(10))

30

In [2]:
#Declare a function named evens_and_odds. It takes a positive integer as parameter and it counts number of evens and odds in the number.

#print(evens_and_odds(100)) #The number of odds are 50. #The number of evens are 51.

def evens_and_odds(a):
    count=0
    count_dd=0
    for i in range(a,-1,-1):
        if i%2==0:
            count = count + 1
           
        else :
            count_dd = count_dd+ 1 
    return count,count_dd
count,count_dd=evens_and_odds(100)
print("even", count )
print("odd",count_dd)

even 51
odd 50

In [3]:
#Call your function factorial, it takes a whole number as a parameter and it return a factorial of the number
def factorial(n):
    ans=1
    for i in range(n,0,-1):
        ans=ans*i
    return ans

In [4]:
factorial(5)

120

In [5]:
factorial(10)

3628800

In [6]:
factorial(0)

1

In [13]:
#Call your function is_empty, it takes a parameter and it checks if it is empty or not
def is_empty(a):
     return  not bool(a)

In [14]:
is_empty("")

True

In [15]:
is_empty("hello")

False

In [27]:
#Write different functions which take lists. 
#They should calculate_mean, .

def calculate_mean(a):
    sum=0
    c=0
    for i in a:
        c=c+1
        sum=sum+i
    return sum/c

In [26]:
calculate_mean(a=[1,2,3,4])

2.5